HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.DS_Store
/.metadata/
/bin/
/.mvn/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/node_modules/
debug.log

catalina.home_IS_UNDEFINED/logs/unofin/logfile.log
catalina.home_IS_UNDEFINED/logs/unofin/unofs_audit.log
catalina.home_IS_UNDEFINED/logs/unofin/unofslogfile.log
src/main/resources/static/**
